<div>
  <div class="field">
    <label for="firstname">Name</label>
    <input
      id="firstname"
      pInputText
      placeholder="ahmed"
      type="text"
      class="w-full"
      [(ngModel)]="customerUpdateRequest.name"
    />
  </div>

  <div class="field">
    <label for="email">Email</label>
    <input
      id="email"
      pInputText
      placeholder="ahmed@test.com"
      type="email"
      class="w-full"
      [(ngModel)]="customerUpdateRequest.email"
    />
  </div>

  <div class="field">
    <label for="age">Age</label>
    <input
      id="age"
      pInputText
      placeholder="22"
      type="text"
      class="w-full"
      [(ngModel)]="customerUpdateRequest.age"
    />
  </div>

  <button
    pButton
    label="Submit"
    class="w-full"
    [disabled]="!isCustomerValid"
    (click)="onSubmit()"
  ></button>
  <button
    pButton
    label="Cancel"
    class="w-full p-button-outlined p-button-danger mt-2"
    (click)="cancel()"
  ></button>
</div>
