services:
  dp:
    image: postgres:15.4
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ahmedraslan
      POSTGRES_PASSWORD: ahmedraslan
      POSTGRES_DB: customer
    restart: unless-stopped
    volumes:
      - dp:/var/lib/postgresql/data
    networks:
      - dp

  customers-api:
    container_name: customers-management-api
    image: ahmedraslan28/customer-management-api
    #image: app-from-docker-file

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://dp:5432/customer
    ports:
      - "8081:8080"
    networks:
      - dp

    depends_on:
      - dp
    restart: unless-stopped

  customer-react:
    container_name: customers-management-react
    image: ahmedraslan28/customer-management-react
    build:
      context: frontend/react-app
      args:
        api_base_url: http://localhost:8081
    ports:
      - "3001:3000"
    depends_on:
      - customers-api
    restart: unless-stopped

volumes:
  dp:

networks:
  dp:
