<div class="flex align-items-stretch min-h-screen">
  <div
    class="flex flex-column align-items-stretch border-right-1 col-2 border-gray-200 text-center"
  >
    <app-menu-bar></app-menu-bar>
  </div>
  <div class="flex flex-column flex-grow-1">
    <div>
      <app-header-bar></app-header-bar>
    </div>

    <div class="main-container p-3">
      <button
        pButton
        icon="pi pi-plus"
        label="Create Customer"
        type="button"
        style="background-color: #319795; border-color: #319795"
        (click)="onClick()"
      ></button>
      <div
        class="flex justify-content-center align-items-center flex-wrap gap-5 mt-4"
      >
        <app-customer-card
          *ngFor="let customer of customers; let index = index"
          [customer]="customer"
          [customerIndex]="index"
          (updateEventChange)="setSideBar($event)"
          [(operation)] = 'operation'
          (updatePage)="reloadCustomers()"
          (customerToUpdate)="updateCustomer($event)"
        ></app-customer-card>
      </div>
    </div>
  </div>

  <app-side-bar
    [customerToUpdate]="customer"
    (updatePage)="reloadCustomers()"
    [operation]="operation"
    [(sideBarVisible)]="sideBarVisible"
  >
  </app-side-bar>
</div>
